{{!-- Creamos la vista Pet --}}

<div>
    <p1> Hola Pet {{name}} la edad es{{edad}} </p1>     {{!-- Las variables en doble llave "{{}}" las atrapa solo el programa, cunado le pasamos en la app. el res.render() --}}
</div>

