
{{!-- Ej-1 --}}
<p>Todo listo para trabajar con Socket</p>

<input id="chat-box" name="chatbox" type="text"  value=""/>
<div style="border: 2px solid black;" id="div-msgs">Loading ...msg</div>
<script src="/socket.io/socket.io.js"></script> {{!-- Este script realiza el handshake, y abre los puertos para la comunicacion. --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>    {{!-- Tenemos el codigo que renderiza --}}



