
{{!-- Ej-1 --}}
<div>
    <p>Todo listo para trbajar con Socket</p>
</div>

//
<script src="/socket.io/socket.io.js"></script> {{!-- Este script realiza el handshake, y abre los puertos para la comunicacion. --}}
<script src="/js/index.js"></script>



