{{!-- Ej-4 --}}
<div>
{{! recorremos el array y mostramos los usuarios --}}
    <h1>Listado de Usuarios</h1>
    {{#each usuarios}}
        <div>
            <p>Hola el nombre {{this.name}} !! tu edad es {{this.edad}} </p>
        </div>
    {{/each}}
</div>
